#header, #footer {
    padding: 1em;
    color: white;
    background-color: black;
}

#header h1 {
    font-family: "Calibri Light";
}

#left_section{
    margin: 0;
    padding: 1em;
}

#left_section ul{
    list-style-type: none;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    display: inline;
    text-decoration: none;
    padding: 5px;
}

.container {
    width: 100%;
    border: 1px solid gray;
}